@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') *::-webkit-scrollbar {
  height: 1px;
  width: 13px;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  background-color: #f7d7d8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffabb0ff;
  border-radius: 20px;
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}