.swiper-pagination-bullet {
  background-color: rgb(211, 82, 82);
  width: 40px; /* Thiết lập chiều rộng */
  height: 2px; /* Thiết lập chiều cao */
  border-radius: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(211, 82, 82); /* Đổi màu cho nút điều hướng */
  width: 50px; /* Thiết lập chiều rộng */
  height: 50px; /* Thiết lập chiều cao */
  background-color: rgba(255, 254, 254, 0.792);
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgb(211, 82, 82);
  font-size: 17px !important;
  font-weight: 800;
}
.gradient-border {
  position: relative; /* Add relative positioning to contain the absolute positioned pseudo-element */
  background-color: white; /* Set background to white */
  padding: 2px; /* Maintain padding for content spacing */
  border: 2px solid transparent; /* Transparent solid border (placeholder) */

  /* Apply the gradient using before pseudo-element */
  /* Adjust color stops as needed */
  &::before {
    content: '';
    position: absolute;
    inset: 0; /* Inset all sides for full coverage */
    z-index: -1; /* Place behind content */
    background-image: linear-gradient(
      to right,
      #f0a80edb,
      /* Starting color */ #c43131d8 50%,
      /* Middle color at 50% position */ #671f57d1 /* Ending color */
    ); /* Ending color */
    background-size: 100% 100%; /* Ensure full coverage */
  }
}
