.swiper-pagination-bullet {
  background-color: rgb(211, 82, 82);
}

/* Thiết lập màu cho nút điều hướng trước và sau */
.swiper-button-prev,
.swiper-button-next {
  color: rgb(211, 82, 82); /* Đổi màu cho nút điều hướng */
  font-size: 12px; /* Thiết lập font size nhỏ hơn */
  width: 24px; /* Thiết lập chiều rộng */
  height: 24px; /* Thiết lập chiều cao */
  border-radius: 50%; /* Đặt border radius hình tròn */
}
