.swiper-pagination-bullet {
  background-color: rgb(211, 82, 82);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(211, 82, 82); /* Đổi màu cho nút điều hướng */
  width: 50px; /* Thiết lập chiều rộng */
  height: 50px; /* Thiết lập chiều cao */
  background-color: rgba(255, 254, 254, 0.792);
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: rgb(211, 82, 82);
  font-size: 17px !important;
  font-weight: 800;
}
