.swiper-pagination-bullet {
  background-color: rgb(211, 82, 82);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(211, 82, 82); /* Đổi màu cho nút điều hướng */
  font-size: 20px !important; /* Thiết lập font size nhỏ lại */
  width: 50px; /* Thiết lập chiều rộng */
  height: 50px; /* Thiết lập chiều cao */
  background-color: rgb(238, 231, 231);
}
